body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wrapper {
    border: solid 1px #000;
    min-height: 400px;
    width: 960px;
    margin: 0 auto;
}

h1 {
    background-image: url(../images/logo2.png);
    background-position: 20px;
    height: 220px;
    text-indent: 20px;
    overflow: hidden;
    background-repeat: no-repeat;
}

nav {
    background-color: #ddd;
    padding: 5px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-left: 10px;
}

ul li a {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

ul li a:hover {
    color: #999;
    text-decoration: underline;
}

#destaque figure {
    margin: 0;
}

h2 {
    text-indent: 10px;
}

#produtosList {
    display: grid;
    /* DIVIDE A GRID POR FRAÇÕES */
    grid-template-columns: 2fr 2fr;
    /* DETERMINA ESPAÇO NAS COLUNAS AO LADO */
    column-gap: 10px;
    padding: 10px;
    /* DETERMINA ESPAÇO NAS COLUNAS ENCIMA E EMBAIXO*/
    row-gap: 10px;
}

#produtosList .cardProdutos {
    border-radius: 5px solid #ddd;
    padding: 10px;
    box-shadow: 3px -2px 20px -2px #ccc;
}

.cardProdutos p {
    display: inline-block;
    width: 300px;
    margin: 0 0 0 10px;
}