body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wrapper {
    border: solid 1px #000;
    min-height: 400px;
    width: 960px;
    margin: 0 auto;
}

h1 {
    background-image: url(../images/logo2.png);
    background-position: 20px;
    height: 220px;
    text-indent: 20px;
    overflow: hidden;
    background-repeat: no-repeat;
}

nav {
    background-color: #ddd;
    padding: 5px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-left: 10px;
}

ul li a {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

ul li a:hover {
    color: #999;
    text-decoration: underline;
}

#destaque figure {
    margin: 0;
}

h2 {
    text-indent: 10px;
    color: #333;
}

#produtosList {
    display: grid;
    /* DIVIDE A GRID POR FRAÇÕES */
    grid-template-columns: 2fr 2fr;
    /* DETERMINA ESPAÇO NAS COLUNAS AO LADO */
    column-gap: 10px;
    padding: 10px;
    /* DETERMINA ESPAÇO NAS COLUNAS ENCIMA E EMBAIXO*/
    row-gap: 10px;
}

#produtosList .cardProdutos {
    border-radius: 5px solid #ddd;
    padding: 10px;
    box-shadow: 3px -2px 20px -2px #ccc;
}

.cardProdutos p {
    display: inline-block;
    width: 300px;
    margin: 0 0 0 10px;
}

#produtosList .cardProdutos:hover {
    box-shadow: 3px -5px 40px -2px #ddd;
}

#contatos h2 {
    grid-area: h2;
}

#contatos form {
    grid-area: formulario;
    padding: 10px;
}

#contatos form input,
#contatos form textarea {
    display: block;
    width: 100%;
    margin: 5px;
    border-radius: 8px;
}

#contatos form input[type='submit'] {
    width: inherit;
    background-color: #ddd;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin: 5px;
}

#contatos div {
    grid-area: emderecoTelefone;
}

#contatos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'h2 h2' 'formulario enderecoTelefone';
    grid-gap: 10px;
}

#contatos h3 {
    font-size: 14px;
    color: #333;
}

footer {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    display: block;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    background-color: #f00;
    background-image: url('../images/socialSprits.png');
}

footer ul li:nth-child(2) a {
    background-position-x: -156px;
}

footer ul li:nth-child(3) a {
    background-position-x: 120px;
}

footer ul li a:hover {
    background-position-y: 39px;
}